body {
    overflow-x: hidden !important
}

nav.navbar {
    top: 0;
    position: fixed !important;
    width: 100% !important
}

.navbar-light {
    background: #e9ced3e8;
    z-index: 999999999999;
    box-shadow: 1px 1px 5px 0 #cfb6ba
}

.navbar-light * {
    font-family: 'neuzeit-grotesk';
    color: #2e2e2e;
    text-decoration: none;
    font-size: 24px
}

.navbar-light .language-menu {
    list-style: none;
    margin-right: 10px;
    margin-top: 14px;
    margin-bottom: 7px;
    padding-left: 20px;
    width: 84%
}

.navbar-light .lang-drop {
    list-style: none;
    margin-right: 10px;
    margin-top: 14px;
    margin-bottom: 7px;
    padding-left: 20px
}

.navbar-light .lang-drop li {
    padding-right: 12px
}

.navbar-light .lang-drop li, .navbar-light .language-menu li {
    display: inline-block;
    /* border: 5px solid #ccc; */
    /* border-radius: 100px; */
    overflow: hidden;
    margin-right: 5px;
    transition: transform .5s
}


.navbar-light .flag {
    width: 40px;
    height: 40px
}


.navbar-light a:hover {
    color: #2e2e2e
}

.navbar-light .row {
    padding: 0
}

.with-full-size img {
    transition: transform .2s;
    cursor: pointer;
}

.pointer {
    cursor: pointer !important
}

.with-full-size img:hover {
    transform: scale(1.2) !important;
}

.img-full-width {
    position: fixed;
    z-index: 9999999999;
    width: 100%;
    text-align: center;
    background: #000000bd;
    height: 100%
}

.hidden {
    display: none !important
}


.nopadding {
    padding: 0 !important
}

.mb100 {
    margin-bottom: 100px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.mb60 {
    margin-bottom: 60px !important
}

.mr-15 {
    margin-right: 15px !important
}

.ft-20 {
    font-size: 22px;
}

.big-h1 {
    font-size: 60px
}

.grid {
    border-radius: 20px;
    background-color: #32323259
}

.grid img {
    width: 100%;
    border-radius: 14px;
    margin: 7px;
}

.grid .col-md-3 {
    padding: 14px;
}

.row * {
    overflow: hidden !important
}

.relative {
    position: relative !important
}

.mt120 {
    margin-top: 120px
}

.row.with-full-size.grid * {
    overflow: hidden;
}

.bg-transparent {
    background: transparent !important;
}

.img-full-width p.caption {
    position: absolute;
    width: 100%;
    color: white;
    font-family: 'span', serif;
    font-size: 25px;
    margin-top: 15px;
    cursor: default;
}

svg.bi-x {
    font-size: 90px;
    width: 55px;
    color: white;
    height: 100px;
    float: right;
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: 0
}

.img-full-width img {
    margin-top: 0;
    max-height: 788px;
}

.navbar-light .language-menu li:first-child {
        display: none;

    }


@media screen and (max-width: 767px) {
    .img-full-width img {
        width: 85%
    }
}

@media screen and (max-width: 992px) {
    .navbar-light .language-menu {
        width: auto
    }

    .navbar-light .ig-button-container-desktop {
        display: none !important
    }

    .navbar-light .language-menu li:first-child {
        display: inline-block;
        margin-right: 25px;
        border-right: 2px solid #e5bac4;
        padding-right: 15px
    }

    .navbar-light .lang-drop {
        width: 100%;
        text-align: center
    }

    .navbar-light .lang-drop li {
        border: none
    }
}