@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

body .container-news {
    font-family: 'neuzeit-grotesk', serif !important;
    margin-top: 105px !important
}

.zkrankt {
    margin-bottom: 20px;
    width: 23%
}

.vimeo p, .banner p, .podcast p, .nft-opensea p, .dekring-expo p, .articula p, .previous-expo p, .linda-container p, .dekring-title, .previous-expo h1 {
    font-size: 2.3rem;
    padding: 20px;
    cursor: default;
}

.vimeo p a, .banner p a {
    text-decoration: none;
    color: #007bff;
    word-break: break-word
}

.articula-container {
    padding-top: 0 !important;
    position: relative;
    top: -15px;
    margin: 0 auto
}

.articula-container div:first-child {
    border-right: 2px solid #ccc;
    border-radius: 35px;
}

.articula-container div {
    overflow: hidden !important;
    padding: 47px;
}

.nft-opensea {
    font-family: 'neuzeit-grotesk', serif;
    font-size: 4vh;
    margin-bottom: 0;
    position: relative;
}

.nft-opensea a {
    color: #007bff;
    text-decoration: none
}

.dekring-title {
    font-family: 'neuzeit-grotesk', serif;
    margin-bottom: 0;
    position: relative;
}

.heading-title h1 {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 2.5rem;
}

.heading-title h1, .heading-title h3 {
    display: inline-block;
    cursor: pointer
}

.heading-title h1:after, .heading-title h1:before {
    content: '  \00b7  '
}

.news-big, .news-side {

}

.news-side img {
    width: 100%
}


.news-big img {
    width: 50%;
}

.news-big p {
    font-family: 'neuzeit-grotesk', serif;
    font-size: 3vh
}

h1, h2 {
    font-family: 'neuzeit-grotesk', serif;
}

.news-big h2 {
    font-weight: 100;
    font-size: 4vh;
}

.news-big h1 {
    font-size: 9vh
}

.list-contents {

}

.list-contents ul {
    list-style: none
}

.list-contents ul li {
    margin: 34px
}

.list-contents ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #202020;
    font-family: 'neuzeit-grotesk', serif !important
}

.main-link {
    font-family: 'neuzeit-grotesk', serif;
    text-decoration: none;
    font-size: 1vw;
    line-height: 48px;
    /* font-weight: 600; */
    color: #202020;
    text-align: center
}


.logo {
    margin: 20px
}

.last-row {
    margin-bottom: 50px
}

.pt50 {
    padding-top: 50px !important
}

@media screen and (max-width: 1180px) {
    body .container-news {
        margin-top: 85px !important
    }
    .banner img, .podcast img.main-img {
        width: 100%;
        height: auto;
    }

    .vimeo p, .banner p, .podcast p, .nft-opensea p, .dekring-expo p, .articula p, .previous-expo p, .linda-container p, .dekring-title, .previous-expo h1 {
        font-size: 1.6rem !important
    }
}

@media screen and (max-width: 1540px) {
    .news-side img {
        width: 70%
    }

    .row.couple-images img {
        width: 70% !important;
        margin-top: 10px
    }
}

@media screen and (max-width: 1400px) {

    .linda-container .col-md-6 .lindaimg {
        width: 100% !important;
    }

    .ons-amsterdam-container img {
        width: 50%;
    }

    .de-kring-container img {
        width: 30%;
    }

    /*.dekring-title {
        font-size: 8vw;
    }*/
    .linda-container .col-md-6 {
        margin: 0 auto
    }

    .linda-container img {
        width: 50%
    }

    .at5-container img {
        width: 20% !important;
    }

    .at5-container iframe {
        margin: 10px
    }

    .at5-container .col-md-6 {
        margin: 0 auto
    }

    .interview-container img {
        width: 90% !important;
    }

    .interview-container .col-md-4 {
        margin-top: 10px
    }

    .row .col-md-3, .row .col-md-4, .row .col-md-5 {
        width: 100% !important;
        max-width: 100% !important;
        flex: auto !important
    }

    .news-big:first-child {
        text-align: center
    }

    .news-big img {
        width: 50%;
    }

    .main-link {
        font-size: 3vw;
    }

    .container-news .row a, .container-news .row h2, .container-news .row h1, .container-news .row p {
        margin-top: 30px;
        margin-bottom: 30px
    }


    /*.articula-container div:first-child {
        text-align: center !important
    }

    .articula-container div {
        width: fit-content !important;
        display: inline-block;
        padding: 0;
    }

    .articula-container div img {
        width: 30%;
    }

    .row.articula-container .col-md-3, .row .col-md-4, .row .col-md-5 {
        width: fit-content !important;
        display: inline-block;
    }*/
    .articula-container div:first-child {
        border-right: none
    }
}

@media screen and (min-width: 850px) and (max-width: 1400px) {

    .articula-container div:first-child img {
        width: 120% !important
    }

    .articula-container div img {
        width: 100% !important
    }

    .row.articula-container .col-md-3 {
        width: 33% !important;
        max-width: fit-content !important;
        display: inline-block;
    }

    .row.articula-container .col-md-4, .row.articula-container .col-md-5 {
        width: 66% !important
    }
}

@media screen and (max-width: 850px) {

    .dekring-expo img.first {
        width: 35%;
        margin-right: 10px !important
    }

    .dekring-expo img.second {
        width: 45%
    }

    .articula-container div img {
        width: 100% !important
    }

    .news-big.text-right, .news-big.text-left {
        text-align: center !important;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 600px) {
    .news-big img {
        width: 80%;
    }
}