.collection-container .col {
    cursor: pointer
}

.collection-container p {
    font-family: 'neuzeit-grotesk';
    font-size: 2rem
}

.collection-container small {
    font-family: 'neuzeit-grotesk'
}

.collection-container p a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

.collection-container .row {
    padding-left: 15%;
    padding-right: 15%
}

.collection-container .row.second {
    margin-top: 100px;
    margin-bottom: 100px;
}

.frame-collection {
    text-align: center;
    color: white;
    height: auto;
    width: auto;
    background-position: center;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin: 0 auto;
    background-size: cover !important;
}

.frame-collection.drawings {
    background-image: url('/static/images/drawings.jpg');
}

.frame-collection.portraits {
    background-image: url('/static/images/painted_portraits.jpg');
}

.frame-collection.dolls {
    background-image: url('/static/images/dolls.jpg');
}

.frame-collection.landscapes {
    background-image: url('/static/images/landscapes.jpg');
}

.frame-collection.stillives {
    background-image: url('/static/images/stillifes.jpg');
}

.frame-collection img {
    width: 100%;
    height: 100%
}

.frame-collection h3 {
    cursor: default;
    padding: 20px;
    background-color: rgb(48 51 57);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px
}