{% extends 'base.html' %}

{% block css_header %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/locomotive-scroll.min.css">
<link rel="stylesheet" href="../static/css/about.css">

<!-- Core CSS file -->
<link rel="stylesheet" href="../static/css/photoswipe.css">

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite,
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="../static/css/photoswipe_default.css">

{% endblock %}
{% block script_header %}
<script src="../static/js/locomotive-scroll.min.js"></script>
<script src="../static/js/ScrollTrigger.min.js"></script>
<script src="../static/js/gsap.min.js"></script>

<!-- Core JS file -->
<script src="../static/js/photoswipe.js"></script>

<!-- UI JS file -->
<script src="../static/js/photoswipe.ui.js"></script>

{% endblock %}

{% include 'modules/photoswipe.html' %}

{% block content %}
<body>

<button class="anchortop btn btn-primary scrollTo" data-target="#start"><img src="/static/images/up.png" alt=""></button>

<div class="img-full-width hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
         class="bi bi-x close-full-width-image"
         viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
    <img src="/static/images/renata/121495992_856165791788188_6599592335180247370_n.jpg" alt="">
    <p class="caption"></p>
</div>
<div id="start" data-scroll-container class="about-container">
    <div class="hero">
        <div data-scroll data-scroll-speed="3" class="copy">
            <a class="scrollTo" data-target="#intro" href="#">{{_('Introduction')}}</a>
            <a class="scrollTo" data-target="#artacademy" href="#">{{_('Art Academy')}}</a>
            <a class="scrollTo" data-target="#dolls" href="#">{{_('Dolls')}}</a>
            <a class="scrollTo" data-target="#article" href="#">{{_('Article')}}</a>
            <a class="scrollTo" data-target="#amsterdam" href="#">{{_('Amsterdam')}}</a>
            <a class="scrollTo" data-target="#landscapes" href="#">{{_('Landscapes')}}</a>
            <a class="scrollTo" data-target="#stilives" href="#">{{_('Still Lives')}}</a>
            <a class="scrollTo" data-target="#relationship" href="#">{{_('Relationship and posters')}}</a>
            <a class="scrollTo" data-target="#mixph" href="#">{{_('Photo’s Renée Stotijn and Dick Bor')}}</a>
            <a class="scrollTo" data-target="#portraits" href="#">{{_('Portraits')}}</a>
            <a class="scrollTo" data-target="#mixph2" href="#">{{_('Photo’s exhibition and concert Spiegelzaal -
                Concertgebouw')}}</a>
            <a class="scrollTo" data-target="#articles2" href="#">{{_('Articles Dick Bor and Renée Stotijn')}}</a>
            <a class="scrollTo" data-target="#laterwork" href="#">{{_('Later Work')}}</a>
        </div>
        <div class="image-wrapper">
            <img src="/static/images/renata/104827249_268154084518342_7074067090816969707_n.jpg"
                 alt="">
        </div>
    </div>

    <div class="section-0" data-scroll data-scroll-speed="2">
        <p data-scroll data-scroll-direction="horizontal" data-scroll-speed="-2">
            Renée Stotijn in 1962.
        </p>

        <cite>{{_('Photo by: Jeroen Koning.')}}</cite>
    </div>

    <div class="section-1">
        <div class="row">
            <div class="col-sm-12 col-md-4" data-><img src="/static/images/renata/renata.png" alt=""></div>
            <div class="col-sm-12 col-md-4"><img
                    src="/static/images/renata/104720526_199087664714159_7041134595956830066_n.jpg"
                    alt=""></div>
            <div class="col-sm-12 col-md-4"><img
                    src="/static/images/renata/119601710_2752875208335249_4360704359128655186_n.jpg"
                    alt=""></div>
        </div>
    </div>

    <div class="section-2">
        <div class="row">
            <div class="col-md-5">
                <div id="pinSection" class="pinned-quote">
                    <blockquote id="intro" data-scroll data-scroll-sticky data-scroll-target="#pinSection">
                        {{_('Renée Stotijn is born on February 7, 1940 in Hilversum, as the eldest daughter in a family
                        of
                        four children. Soon after her birth Renée’s parents move to the south of Amsterdam, and come
                        to live behind the Concertgebouw (concert hall). It is a practical choice for the family, as her
                        father, Haakon Stotijn, is appointed as a solo oboist in the Concertgebouw orchestra.
                        Renée starts drawing at the age of five after receiving a book from her father on early
                        renaissance Italian painting. She is fascinated by this art and memorizes all the painters.
                        At this point already she has made up her mind; she will become a painter.
                        Unfortunately, problems arise in the family and her parents divorce in 1952 when she is 12
                        years old. Renée is determined to leave with her father because of a difficult relationship
                        between her mother and herself. Her younger sister Marion decides to go with Renee and her
                        father. They wander across the city for years in search of accommodation. At this time Renée
                        and Marion stay with various caretakers at different addresses. In 1957 Haakon and his two
                        daughters eventually settle on the Weesperzijde in the east of Amsterdam.')}}
                    </blockquote>
                </div>
            </div>
            <div class="col-md-7 with-full-size">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/web/Portret_zuster_Marion_Stotijn_in_een_deken_Ca_1954_Pastel_op_papier_37,3_x_29,8_cm.png"
                             alt="">
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/web/Portret_van_vader_Haakon_Stotijn_Ca_1958_Potlood_op_papier_33,5_x_24,2_cm.png"
                             alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/web/Zelfportret_Renée_Stotijn_1957_Potlood_op_papier_50_x_32_cm.png"
                             alt="">
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/web/Renée_Stotijn_2_jaar_oud_-_Eva_Besnyö.png"
                             alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/web/Ouders_Mieke_Lindeman_en_Haakon_Stotijn_1939.png"
                             alt="">
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/web/Renée_Stotijn_en_vader_Haakon_Stotijn_1957.png"
                             alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/web/Renée_Stotijn_(links)_en_zusje_Marion_Stotijn_(rechts)_ca._1954.png"
                             alt="">
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/web/Renée_Stotijn_(staand)_en_Marion_Stotijn_(liggend)_-_foto_Jeroen_Koning.png"
                             alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="artacademy" class="big-h1">{{_('Art Academy')}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">{{_('After her graduation at the Montessori Lyceum, Renée Stotijn takes
                    six
                    years of
                    intensive
                    lessons at the Rijksacademie (art academy) in Amsterdam.')}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Dame_met_slofjes.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Liggende_dame_op_divan.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Achterzijde_man.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Zittende_dame.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_('She takes various subjects such
                    as letter drawing and costume drawing, art and style history, sculpting and anatomy. As an
                    exceptionally talented student, Renée gets access to a ‘loge’.')}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Naakte_staande_vrouw.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Verlangende_man_ofwel_Oedipus.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Man_met_een_drankje.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Het_paard.jpeg"
                    alt=""></div>
        </div>

        <div class="row"><br>
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_('That is a private studio at the
                    top of the academy building.
                    Because Renée wants to learn to paint decors, she works for one year in a decor studio and
                    then six years as a restorer at the Central Laboratory of the Rijksmuseum.')}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Renée_Stotijn_werkt_in_1964_aan_een_mozaïek_2.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Roze_en_paarse_bloemen_in_vaas.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Stilleven_van_3_appels.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Renée_Stotijn_werkt_in_1964_aan_een_mozaïek.jpg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
                <p class="ft-20 text-justify">
                    {{_('At the same time,
                    she is teaching and gives guided tours in the Stedelijk Museum, the Van Gogh Museum and
                    the Rijksmuseum, to both children and adults.')}}
                </p>
                <br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Renée_Stotijn_(staand)_op_studiereis_met_de_Rijksacademie_naar_Florence_in_ca_1962.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Foto 14 - Renée Stotijn geeft museumles aan leerlingen van de basisschool in het Stedelijk Museum, ca. 1965.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/art_academy/Renée_Stotijn_geeft_museumles_aan_leerlingen_van_de_basisschool_in_het_Stedelijk_Museum,_ca._1965.jpeg"
                    alt=""></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="dolls" class="big-h1">Dolls</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">{{_("Throughout her life Renée maintains a great passion for antique
                    dolls. She
                    has a small collection
                    of dolls in her house in closed glass display cases. In 1970, an article about Renée's love for
                    antique dolls with a number of remarkable photos was published in Panorama magazine.")}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/dolls/Pastel_met_2_antieke_poppen.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/dolls/Popje_in_zwart_wit.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/dolls/Pop_met_kanten_jurkje.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_('The way in which Renée portrays the dolls is remarkable. It seems
                    like the
                    dolls have been given
                    souls. Because of the facial expressions and the way in which the dolls are positioned, they
                    almost resemble people in a lively scene: busy conversing, pondering or enthusiastic. It remains
                    unclear where her love for dolls comes from. Perhaps it stems from a longing in her childhood. Be
                    that as it may, it is a subject that she portrays many times in different ways.')}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/dolls/Pop_in_geel_jurkje.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/dolls/Pop_in_zwarte_kledij.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/dolls/Leunende_pop.jpeg"
                    alt=""></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="article" class="big-h1">Article</h1>
                <cite class="ft-20">‘De Poppewereld van Renée Stotijn’ (The Doll World of Renée Stotijn). Panorama
                    1970.</cite>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/articles/Artikel_Panorama_Renée_Stotijn.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/articles/Artikel_Panorama_ Renee_Stotijn_2.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/articles/Artikel_Panorama_Renée_Stotijn_3.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/articles/Artikel_Panorama_Renée_Stotijn_4.jpg"
                    alt=""></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="amsterdam" class="big-h1">Amsterdam</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">{{_('Although born in Hilversum, Renée Stotijn is an ‘Amsterdammer’ in
                    heart
                    and soul. She loves
                    the city very much and also fights for the preservation of her ‘Mokum.’')}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/Sint_Willibrordus_Buiten_de_Veste_Kathedraal.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/Winter_aan_de_Amstel.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/Panden_bij_de_Zuiderkerk.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_("She organizes
                    neighbourhood campaigns and writes appeals against, among other things, the demolition of
                    the Eerste Oosterparkstraat and a part of the Weesperzijde, which is known as 'het Streekje'.")}}/p>
                    <br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/Ergens_in_Amsterdam.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/Dame_aan_de_kade.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/Winter_aan_de_grachten.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_("Thanks to her, houses that would be demolished are actually restored
                    in
                    modern style. Renée's
                    greatest victory is the preservation of the New Amstel Bridge by the architects Leguyt and
                    Berlage.")}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/Stadsgezicht_Prins_Hendrikkade.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/Achterhuizen_bij_de_Nieuwmarkt.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/Weesperzijde_zomers_uitzicht.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_('Thanks to her, the bridge continues to exist and is not replaced by a
                    modern variant.
                    Her love for the nineteenth century is immense')}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/Weesperzijde_winters_uitzicht.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/renée_1.png"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/amsterdam/renée_2.png"
                    alt=""></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="landscapes" class="big-h1">{{_('Landscapes and village scenes')}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">{{_('Renée goes out every now and then to visit other cities and
                    landscapes in
                    the
                    Netherlands. In the open air she mainly paints watercolours. She is fond of the colours
                    and light of the Dutch landscape, which she tries to capture in a rich colour palette.')}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/landscapes/Schoorl,_tuin_van_“de_Boshut”.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/landscapes/Kranen_aan_het_kanaal.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/landscapes/Aan_de_kade.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/landscapes/Boerenhuisje_met_kruiwagen.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_('She adores Durgerdam and Marken and has a fascination for the
                    traditional
                    costumes
                    from those villages. She also visits abroad. France and Italy are very dear to her and were
                    a source of inspiration. However, due to a lack of financial resources, she does not
                    manage to go there often, at least not as often as she would have liked.')}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/landscapes/Zicht_op_Durgerdam.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/landscapes/Pier_bij_Ameland.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/landscapes/Aquarel_Ameland.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/landscapes/Mediterraans_Balkon.jpeg"
                    alt=""></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="stilives" class="big-h1">{{_('Still lives')}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">{{_('Renée makes countless still lives from objects in her own home such
                    as
                    vases, fans and
                    hats. She often places these objects on a wooden table. One such table is the one that she
                    received from acquaintances from Schoorl. Flowers are her favourite subject. She paints
                    and draws flowers of all shapes and sizes with different materials. This subject will continue
                    to play a major role in her oeuvre until the end of her life.')}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-1 bg-transparent"></div>
            <div class="col-md-2 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/still_lives/Gele_bloemen_met_fruit.jpeg"
                    alt=""></div>
            <div class="col-md-2 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/still_lives/Bloesem_met_bakje.jpeg"
                    alt=""></div>
            <div class="col-md-2 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/still_lives/Stilleven_met_hoed_en_doek.jpeg"
                    alt=""></div>
            <div class="col-md-2 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/still_lives/Stilleven_met_doeken_en_fruit.jpeg"
                    alt=""></div>
            <div class="col-md-2 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/still_lives/Schilders_stilleven.jpeg"
                    alt=""></div>
            <div class="col-md-1 bg-transparent"></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_("Remarkable are Renée's often dynamic compositions and rich use of
                    colour.
                    There always
                    seems to be movement in the works. Her still lives are anything but static.")}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/still_lives/Stilleven_met_theepot_en_hoed.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/still_lives/Stilleven_met_pauwenveren.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/still_lives/Stilleven_met_onbekende_voorwerpen.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/still_lives/Twee_vissen_op_een_krant.jpeg"
                    alt=""></div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="relationship" class="big-h1">{{_('Relationship and posters')}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">{{_('Starting in the 1970s, Renée has a relationship with violinist and
                    concertmaster Dick Bor
                    (1944-2007). Together they form a well-known artistic couple and they are the first couple
                    who have a LAT (living apart together) relationship in the Netherlands. This means that they
                    deliberately do not live together and are not married. They do have two daughters together.
                    Several articles appear about this in the newspaper, which also discusses their artistic
                    projects')}}</p><br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/relationship_and_posters/Poster_Centrum_Het_Gras_1973_Ink_on_paper_by_screen_printing_60_x_41,5_cm.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/relationship_and_posters/Poster_Alpho:_original_colours_Ca_1971_Ink_on_paper_by_screen_printing_47,2_x_32,8_cm.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_("In 1978 Dick and Renée organize a concert series in the Concertgebouw
                    with
                    the name
                    ‘Scherts Concerts’ in which Dick presents jokes and oddities on stage together with Polo de
                    Haas and other musicians. In combination with the concerts, an exhibition of Renée's work
                    takes place in the Spiegelzaal of the Concertgebouw. Renée then exhibits her work a few more
                    times, including in 1994 in the artists' society De Kring.")}}</p><br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/relationship_and_posters/Blue_poster_Scherts_Concerts_1981_Ink_on_paper_by_screen_printing_47,2_x_32,8_cm.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/relationship_and_posters/Iron_plate_with_which_silkscreens_of_blue_poster_Scherts_Concerts_were_made_1981_47,2_x_32,8_cm.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">
                    {{_("Renée designs the posters for Dick's concerts. She does this in an old-fashioned way in
                    collaboration with Gielijn (Ghislain) Escher. During this collaboration Renée creates the design
                    and Escher cuts the letters. Subsequently, the posters are screen printed.")}}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="mixph" class="big-h1">{{_("Photo’s Renée Stotijn and Dick Bor")}}</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_dick/Dick_Bor__and_Renée_Stotijn_in_France_Ca_1969.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_dick/Dick_Bor_and_Renée_Stotijn_in_France_Ca_1969.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_dick/Dick_Bor_Renée_Stotijn_and_Ramses_Shaffy_Ca_1969.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_dick/Renée_Stotijn_at_the_table_of_the_Bor_family_Ca_1969_.jpg"
                    alt=""></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="portraits" class="big-h1">Portraits</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">{{_("The greatest discovery in Renée's house are the countless portraits
                    she painted, most of them with oil
                    paint. Nobody, knew about the portraits, or could imagine the vast amount. The artworks have spent
                    decades laying in the tops of cabinets in the kitchen. They lay between double ceilings and in
                    cavities
                    within the wall that turned out to be several meters deep. When closets were emptied by her
                    daughters, they found one surprise after another. It was as if a treasure had been
                    discovered.")}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Portrait_sister_Marion_Stotijn_Ca_1965_Watercolour_on_paper_39,7_x_32_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Portrait_man_with_beret_Ca_1965_Oil_on_canvas_54,6_x_45_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Lady_in_pink_1965_Watercolour_on_paper_34_x_24_cm_.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Lady_in_red_dress_on_a_chair__Ca__1964__Oil_paint_on_canvas__72_x_57_cm_.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Two_ladies_seated_on_a_bench_Ca_1965_Oil_on_canvas_70_x_100_cm_.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Man_with_blue_shirt_Ca_1965_Oil_on_canvas_82_x_62_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Man_in_red_Ca_1965_Oil_on_canvas_100_x_70_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Lady_in_profile__Ca__1965__Oil_on_canvas__60_x_45_cm.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_("It is very likely that Renée made these portraits at the
                    Rijksacademie. In one of the few interviews she
                    gives, she refers to the portraits she painted in the ‘loge’ that was assigned to her. Here she had
                    all
                    the materials available. Who the models are ultimately remains a guess, just like the answers to
                    many
                    other questions about the how, what, where and when with regard to her artworks. These answers
                    are left up to the imagination.")}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Naked_lady_Ca_1965_Oil_on_canvas_100_x_75_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Man_with_striped_shirt_Ca_1965_Oil_on_canvas_80_x_60_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Seated_lady__Ca__1963__Gouache_on_paper__67,2_x_48,8_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Old_man_with_a_hat__Ca__1963__Pastel_on_paper__46,8_x_36,3_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Lady_with_a_fur_collar__Ca__1965__Oil_on_paper__53_x_38,8_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Standing_man__Ca__1965__Oil_on_canvas__102_x_72_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/portraits/Expecting__Ca__1963__Oil_on_canvas_81,5_x_61,4_cm.jpg"
                    alt=""></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 id="mixph2">{{_("Photo’s exhibition and concert Spiegelzaal - Concertgebouw")}}</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_concert_gebouw/Renée_Stotijn_during_an_exhibition_in_the_Spiegelzaal_of_the_Concertgebouw_in_1978.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_concert_gebouw/Renée_Stotijn_poses_in_front_of_her_paintings_exhibited_in_the_Spiegelzaal_of_the_Concertgebouw_in_1978_The_two_works_of_art_on_the_left_can_also_be_found_in_this_exhibition_under_the_theme_landscapes_and_village_scenes.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_concert_gebouw/Renée_Stotijn_poses_in_front_of_her_posters_exhibited_in_the_Spiegelzaal_of_the_Concertgebouw_in_1978_The_posters_can_also_be_seen_at_this_exhibition.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_concert_gebouw/Dick_Bor_and_Polo_de_Haas_during_a_concert_in_the_Spiegelzaal_of_the_Concertgebouw_in_1978.jpg"
                    alt=""></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="articles2" class="big-h1">{{_("Articles Dick Bor and Renée Stotijn")}}</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_dick_articles/Article_Artistieke_romance_van_Dick_Bor_en_René_Stotijn_(Artistic_romance_of_Dick_Bor_and_René_Stotijn)_Telegraaf,_1976.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_dick_articles/Article_En_dit_is_dan_Esmaralda_(And_this_is_Esmaralda)_Telegraaf_November_16_1976.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_dick_articles/Article_Het_bijzondere_geluk_van_Renee_Stotijn_en_Dick_Bor_(The_special_happiness_of_Renee_Stotijn_and_Dick_Bor)_Telegraaf_October_6_1978.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/rene_dick_articles/Renée_Stotijn_and_her_partner_Dick_Bor_in_1976_Photo_by_Glenn_Wassenbergh.jpeg"
                    alt=""></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="laterwork" class="big-h1">Later work</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">{{_("There is an unfortunate event in Renée's life that causes a change:
                    she gets sick. In 1972, at the age
                    of 32, she is diagnosed with breast cancer. She has surgery, but afterwards she is in so much pain
                    that she is unable to use her arm, let alone paint, for a long time. This is a nightmare for
                    Renée.")}}</p><br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row with-full-size grid">
            <div class="col-md-2"></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Self-portrait_Renée_Stotijn_pink__1978__Pastel_on_paper__30,8_x_21,8_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Self-portrait_Renée_Stotijn_grey-blue__1978__Pastel_on_paper__30,8_x_21,8_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Self_portrait_Renée_Stotijn_sketch__1978__Pencil_on_paper__30,8_x_21,8_cm.jpeg"
                    alt=""></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">{{_('After a while she tries to pick it up again, and makes drawings,
                    pastels and watercolours, though at
                    an admittedly slower pace than before. Due to the hard labour and process required to create an
                    oil painting, she is no longer able to make them. Her style is clearly recognizable in her newer
                    works.')}}</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Mannequin_on_a_terrace_at_the_Bastide_1993__Watercolour_on_paper__12_x_17_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Garden_figurine_with_hat_at_de_Bastide_1993_Watercolour_on_paper_22_x_17_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Portrait_granddaughter_Stella__2014__Conté_on_paper__29_x_19,9_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Portrait_grandson_Jaime__2015__Conté_on_paper__29,8_x_19,9_cm_.jpeg"
                    alt=""></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Portrait_Curtis_Ca__1982__Pastel_on_paper__23,2_x_21,7_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Pink_peonies__Ca__2007__Watercolour_on_paper__29,4_x_19,2_cm.jpeg"
                    alt=""></div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">
            <p class="ft-20 text-justify">{{_("In the period after the operation, Renée mainly works on subjects she
                loves. In France at ‘the
                Bastide’ she creates watercolours of the area. She is also frequently engaged in watercolours of
                peonies, especially in the last years of her life. Finally, she portrays her grandchildren with much
                love and is often inspired by the works of Peter Paul Rubens.")}}</p><br>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row with-full-size grid">
            <div class="col-md-2"></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Peonies_in_pink__Ca__2010__Watercolour_on_paper__11,3_x_16,3_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Peonies_in_blue__Ca__2010__Watercolour_on_paper__8,5_x_13,7_cm.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/web/later_work/Peonies_in_red-black__Ca__2010__Watercolour_on_paper__8,7_x_14_cm.jpeg"
                    alt=""></div>

        </div>
    </div>

</div>

</body>
{% endblock %}

{% block script_footer %}
<script>
    $(document).ready(function () {

        $('.with-full-size').find('img').on('click', function () {
            $('.img-full-width').removeClass('hidden');
            $('.img-full-width').find('img').attr('src', $(this).attr('src'))
            let splitted_path = $(this).attr('src').replaceAll("_", " ").split("/");
            let title = splitted_path[splitted_path.length - 1].split(".png")[0].replace(".jpg", "").replace(".jpeg", "").replace(new RegExp("[0-9\.]+", "g"), "")
            $('.img-full-width').find('.caption').html(title)
        })
        $('.close-full-width-image').on('click', function () {
            $(this).parent().addClass('hidden')
        })

        const scroller = new LocomotiveScroll({
            el: document.querySelector('[data-scroll-container]'),
            smooth: true
        })

        $('.scrollTo').on('click', function () {
            console.log('a');
            scroller.scrollTo($(this).attr('data-target'));
        })

        gsap.registerPlugin(ScrollTrigger)


        scroller.on('scroll', ScrollTrigger.update)

        ScrollTrigger.scrollerProxy(
            '.about-container', {
                scrollTop(value) {
                    return arguments.length ?
                        scroller.scrollTo(value, 0, 0) :
                        scroller.scroll.instance.scroll.y
                },
                getBoundingClientRect() {
                    return {
                        left: 0, top: 0,
                        width: window.innerWidth,
                        height: window.innerHeight
                    }
                }
            }
        )


        ScrollTrigger.create({
            trigger: '.image-mask',
            scroller: '.about-container',
            start: 'top+=30% 50%',
            end: 'bottom-=40% 50%',
            animation: gsap.to('.image-mask', {backgroundSize: '120%'}),
            scrub: 2,
            // markers: true
        })


        ScrollTrigger.addEventListener('refresh', () => scroller.update())


        ScrollTrigger.refresh()
    })
</script>
{% endblock %}