{% extends 'base.html' %}

{% block css_header %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/locomotive-scroll.min.css">
<link rel="stylesheet" href="../static/css/about.css">

<!-- Core CSS file -->
<link rel="stylesheet" href="../static/css/photoswipe.css">

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite,
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="../static/css/photoswipe_default.css">

{% endblock %}
{% block script_header %}
<script src="../static/js/locomotive-scroll.min.js"></script>
<script src="../static/js/ScrollTrigger.min.js"></script>
<script src="../static/js/gsap.min.js"></script>

<!-- Core JS file -->
<script src="../static/js/photoswipe.js"></script>

<!-- UI JS file -->
<script src="../static/js/photoswipe.ui.js"></script>

{% endblock %}

{% include 'modules/photoswipe.html' %}

{% block content %}
<body>
<div class="img-full-width hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
         class="bi bi-x close-full-width-image"
         viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
    <img src="/static/images/renata/121495992_856165791788188_6599592335180247370_n.jpg" alt="">
    <p class="caption">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam</p>
</div>
<div data-scroll-container class="about-container">
    <div class="hero">
        <div data-scroll data-scroll-speed="3" class="copy">
            <blockquote>
                “I spent my life alone, in a room. I'd like to find a new light for paintings we've never seen”
                <cite>
                    — Vincent van Gogh
                </cite>
            </blockquote>
        </div>
        <div class="image-wrapper">
            <img src="/static/images/renata/104827249_268154084518342_7074067090816969707_n.jpg"
                 alt="">
        </div>
    </div>

    <div class="section-0" data-scroll data-scroll-speed="2">
        <p data-scroll data-scroll-direction="horizontal" data-scroll-speed="-2">
            Renée Stotijn in 1962.
        </p>

        <cite>Photo by: Jeroen Koning.</cite>
    </div>

    <div class="section-1">
        <div class="row">
            <div class="col-sm-12 col-md-4" data-><img src="/static/images/renata/renata.png" alt=""></div>
            <div class="col-sm-12 col-md-4"><img src="/static/images/renata/104720526_199087664714159_7041134595956830066_n.jpg"
                                       alt=""></div>
            <div class="col-sm-12 col-md-4"><img src="/static/images/renata/119601710_2752875208335249_4360704359128655186_n.jpg"
                                       alt=""></div>
        </div>
    </div>

    <div class="section-2">
        <div class="row">
            <div class="col-md-5">
                <div id="pinSection" class="pinned-quote">
                    <blockquote data-scroll data-scroll-sticky data-scroll-target="#pinSection">
                        Renée Stotijn is born on February 7, 1940 in Hilversum, as the eldest daughter in a family of
                        four children. Soon after her birth Renée’s parents move to the south of Amsterdam, and come
                        to live behind the Concertgebouw (concert hall). It is a practical choice for the family, as her
                        father, Haakon Stotijn, is appointed as a solo oboist in the Concertgebouw orchestra.
                        Renée starts drawing at the age of five after receiving a book from her father on early
                        renaissance Italian painting. She is fascinated by this art and memorizes all the painters.
                        At this point already she has made up her mind; she will become a painter.
                        Unfortunately, problems arise in the family and her parents divorce in 1952 when she is 12
                        years old. Renée is determined to leave with her father because of a difficult relationship
                        between her mother and herself. Her younger sister Marion decides to go with Renee and her
                        father. They wander across the city for years in search of accommodation. At this time Renée
                        and Marion stay with various caretakers at different addresses. In 1957 Haakon and his two
                        daughters eventually settle on the Weesperzijde in the east of Amsterdam.
                    </blockquote>
                </div>
            </div>
            <div class="col-md-7 with-full-size">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/static/images/extracted/Portrait_sister_Marion_Stotijn_in_a_blanket_Ca_1954_Pastel_on_paper_37,3_x_29,8_cm.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="/static/images/extracted/Portrait_of_father_Haakon_Stotijn_Ca_1958_Pencil_on_paper_33,5_x_24,2_cm.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="/static/images/extracted/Self-portrait_Renée_Stotijn_1957_Pencil_on_paper_50_x_32_cm.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="/static/images/extracted/Renée_Stotijn,_2_years_old_1942_Photo_by_Eva_Besnyö.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="/static/images/extracted/Parents_Renée_Stotijn_Mieke_Lindeman_and_Haakon_Stotijn_Ca_1939.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="/static/images/extracted/Renée_Stotijn_and_father_Haakon_Stotijn_at_the_Weesperzijde_Ca_1957.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="/static/images/extracted/Young_Renée_Stotijn_(left)_and_sister_Marion_Stotijn_(right)_Ca_1954.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="/static/images/extracted/Renée_Stotijn_(standing)_and_Marion_Stotijn_(lying_down)_Ca_1962_Photo_by_Jeroen_Koning.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

</body>
{% endblock %}

{% block script_footer %}
<script>
    $(document).ready(function () {

        $('.with-full-size').find('img').on('click', function () {
            $('.img-full-width').removeClass('hidden');
            $('.img-full-width').find('img').attr('src', $(this).attr('src'))
            let splitted_path = $(this).attr('src').replaceAll("_", " ").split("/");
            $('.img-full-width').find('.caption').html(splitted_path[splitted_path.length -1].split(".png")[0])
        })
        $('.close-full-width-image').on('click', function () {
            $(this).parent().addClass('hidden')
        })

        const scroller = new LocomotiveScroll({
            el: document.querySelector('[data-scroll-container]'),
            smooth: true
        })

        gsap.registerPlugin(ScrollTrigger)


        scroller.on('scroll', ScrollTrigger.update)

        ScrollTrigger.scrollerProxy(
            '.about-container', {
                scrollTop(value) {
                    return arguments.length ?
                        scroller.scrollTo(value, 0, 0) :
                        scroller.scroll.instance.scroll.y
                },
                getBoundingClientRect() {
                    return {
                        left: 0, top: 0,
                        width: window.innerWidth,
                        height: window.innerHeight
                    }
                }
            }
        )


        ScrollTrigger.create({
            trigger: '.image-mask',
            scroller: '.about-container',
            start: 'top+=30% 50%',
            end: 'bottom-=40% 50%',
            animation: gsap.to('.image-mask', {backgroundSize: '120%'}),
            scrub: 2,
            // markers: true
        })


        ScrollTrigger.addEventListener('refresh', () => scroller.update())


        ScrollTrigger.refresh()
    })
</script>
{% endblock %}