{% extends 'base.html' %}

{% block css_header %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/locomotive-scroll.min.css">
<link rel="stylesheet" href="../static/css/about.css">

<!-- Core CSS file -->
<link rel="stylesheet" href="../static/css/photoswipe.css">

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite,
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="../static/css/photoswipe_default.css">

{% endblock %}
{% block script_header %}
<script src="../static/js/locomotive-scroll.min.js"></script>
<script src="../static/js/ScrollTrigger.min.js"></script>
<script src="../static/js/gsap.min.js"></script>

<!-- Core JS file -->
<script src="../static/js/photoswipe.js"></script>

<!-- UI JS file -->
<script src="../static/js/photoswipe.ui.js"></script>

{% endblock %}

{% include 'modules/photoswipe.html' %}

{% block content %}
<body>
<div class="img-full-width hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
         class="bi bi-x close-full-width-image"
         viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
    <img src="/static/images/renata/121495992_856165791788188_6599592335180247370_n.jpg" alt="">
    <p class="caption">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam</p>
</div>
<div data-scroll-container class="about-container">
    <div class="hero">
        <div data-scroll data-scroll-speed="3" class="copy">
            <blockquote>
                “I want to touch people with my art. I want them to say 'he feels deeply, he feels tenderly'.”
                <cite>
                    — Vincent van Gogh
                </cite>
            </blockquote>
        </div>
        <div class="image-wrapper">
            <img src="/static/images/renata/104827249_268154084518342_7074067090816969707_n.jpg"
                 alt="">
        </div>
    </div>

    <div class="section-0" data-scroll data-scroll-speed="2">
        <p data-scroll data-scroll-direction="horizontal" data-scroll-speed="-2">
            Renée Stotijn in 1962.
        </p>

        <cite>Photo by: Jeroen Koning.</cite>
    </div>

    <div class="section-1">
        <div class="row">
            <div class="col-sm-12 col-md-4" data-><img src="/static/images/renata/renata.png" alt=""></div>
            <div class="col-sm-12 col-md-4"><img
                    src="/static/images/renata/104720526_199087664714159_7041134595956830066_n.jpg"
                    alt=""></div>
            <div class="col-sm-12 col-md-4"><img
                    src="/static/images/renata/119601710_2752875208335249_4360704359128655186_n.jpg"
                    alt=""></div>
        </div>
    </div>

    <div class="section-2">
        <div class="row">
            <div class="col-md-5">
                <div id="pinSection" class="pinned-quote">
                    <blockquote data-scroll data-scroll-sticky data-scroll-target="#pinSection">
                        Renée Stotijn is born on February 7, 1940 in Hilversum, as the eldest daughter in a family of
                        four children. Soon after her birth Renée’s parents move to the south of Amsterdam, and come
                        to live behind the Concertgebouw (concert hall). It is a practical choice for the family, as her
                        father, Haakon Stotijn, is appointed as a solo oboist in the Concertgebouw orchestra.
                        Renée starts drawing at the age of five after receiving a book from her father on early
                        renaissance Italian painting. She is fascinated by this art and memorizes all the painters.
                        At this point already she has made up her mind; she will become a painter.
                        Unfortunately, problems arise in the family and her parents divorce in 1952 when she is 12
                        years old. Renée is determined to leave with her father because of a difficult relationship
                        between her mother and herself. Her younger sister Marion decides to go with Renee and her
                        father. They wander across the city for years in search of accommodation. At this time Renée
                        and Marion stay with various caretakers at different addresses. In 1957 Haakon and his two
                        daughters eventually settle on the Weesperzijde in the east of Amsterdam.
                    </blockquote>
                </div>
            </div>
            <div class="col-md-7 with-full-size">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/Portret_zuster_Marion_Stotijn_in_een_deken_Ca_1954_Pastel_op_papier_37,3_x_29,8_cm.png"
                             alt="">
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/Portret_van_vader_Haakon_Stotijn_Ca_1958_Potlood_op_papier_33,5_x_24,2_cm.png"
                             alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/Zelfportret_Renée_Stotijn_1957_Potlood_op_papier_50_x_32_cm.png"
                             alt="">
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/Renée_Stotijn_2_jaar_oud_-_Eva_Besnyö.png"
                             alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/Ouders_Mieke_Lindeman_en_Haakon_Stotijn_1939.png"
                             alt="">
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/Renée_Stotijn_en_vader_Haakon_Stotijn_1957.png"
                             alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/Renée_Stotijn_(links)_en_zusje_Marion_Stotijn_(rechts)_ca._1954.png"
                             alt="">
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="/static/images/extracted/Renée_Stotijn_(staand)_en_Marion_Stotijn_(liggend)_-_foto_Jeroen_Koning.png"
                             alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="big-h1">Art Academy</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">After her graduation at the Montessori Lyceum, Renée Stotijn takes six
                    years of
                    intensive
                    lessons at the Rijksacademie (art academy) in Amsterdam. </p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/11._Dame_met_slofjes.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/13._Liggende_dame_op_divan.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/12._Achterzijde_man.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/14._Zittende_dame.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">She takes various subjects such
                    as letter drawing and costume drawing, art and style history, sculpting and anatomy. As an
                    exceptionally talented student, Renée gets access to a ‘loge’.</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/15._Naakte_staande_vrouw.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/18._Verlangende_man_ofwel_Oedipus.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/19._Man_met_een_drankje.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/22._Het_paard.jpeg"
                    alt=""></div>
        </div>

        <div class="row"><br>
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">That is a private studio at the
                    top of the academy building.
                    Because Renée wants to learn to paint decors, she works for one year in a decor studio and
                    then six years as a restorer at the Central Laboratory of the Rijksmuseum.</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/Renée_Stotijn_werkt_in_1964_aan_een_mozaïek_2.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/25._Roze_en_paarse_bloemen_in_vaas.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/26._Stilleven_van_3_appels.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/Renée_Stotijn_werkt_in_1964_aan_een_mozaïek.jpg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br>
                <p class="ft-20 text-justify">
                    At the same time,
                    she is teaching and gives guided tours in the Stedelijk Museum, the Van Gogh Museum and
                    the Rijksmuseum, to both children and adults.
                </p>
                <br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/Renée_Stotijn_(staand)_op_studiereis_met_de_Rijksacademie_naar_Florence_in_ca_1962.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/Foto 14 - Renée Stotijn geeft museumles aan leerlingen van de basisschool in het Stedelijk Museum, ca. 1965.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/art_academy/Renée_Stotijn_geeft_museumles_aan_leerlingen_van_de_basisschool_in_het_Stedelijk_Museum,_ca._1965.jpeg"
                    alt=""></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="big-h1">Dolls</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">Throughout her life Renée maintains a great passion for antique dolls. She
                    has a small collection
                    of dolls in her house in closed glass display cases. In 1970, an article about Renée's love for
                    antique dolls with a number of remarkable photos was published in Panorama magazine.</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/dolls/27._Pastel_met_2_antieke_poppen.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/dolls/29._Popje_in_zwart_wit.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/dolls/30._Pop_met_kanten_jurkje.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">The way in which Renée portrays the dolls is remarkable. It seems like the
                    dolls have been given
                    souls. Because of the facial expressions and the way in which the dolls are positioned, they
                    almost resemble people in a lively scene: busy conversing, pondering or enthusiastic. It remains
                    unclear where her love for dolls comes from. Perhaps it stems from a longing in her childhood. Be
                    that as it may, it is a subject that she portrays many times in different ways.</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/dolls/31._Pop_in_geel_jurkje.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/dolls/32._Pop_in_zwarte_kledij.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/dolls/33._Leunende_pop.jpeg"
                    alt=""></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="big-h1">Article</h1>
                <cite class="ft-20">‘De Poppewereld van Renée Stotijn’ (The Doll World of Renée Stotijn). Panorama
                    1970.</cite>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/articles/Artikel_Panorama_Renée_Stotijn.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/articles/Artikel_Panorama_ Renee_Stotijn_2.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/articles/Artikel_Panorama_Renée_Stotijn_3.jpg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/articles/Artikel_Panorama_Renée_Stotijn_4.jpg"
                    alt=""></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="big-h1">Amsterdam</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">Although born in Hilversum, Renée Stotijn is an ‘Amsterdammer’ in heart
                    and soul. She loves
                    the city very much and also fights for the preservation of her ‘Mokum.’</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/35._Sint_Willibrordus_Buiten_de_Veste_Kathedraal.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/36._Winter_aan_de_Amstel.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/37._Panden_bij_de_Zuiderkerk.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">She organizes
neighbourhood campaigns and writes appeals against, among other things, the demolition of
the Eerste Oosterparkstraat and a part of the Weesperzijde, which is known as 'het Streekje'.</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/38._Ergens_in_Amsterdam.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/39._Dame_aan_de_kade.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/40._Winter_aan_de_grachten.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">Thanks to her, houses that would be demolished are actually restored in modern style. Renée's
greatest victory is the preservation of the New Amstel Bridge by the architects Leguyt and
Berlage.</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/41._Stadsgezicht_Prins_Hendrikkade.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/42._Achterhuizen_bij_de_Nieuwmarkt.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/43._Weesperzijde_zomers_uitzicht.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">Thanks to her, the bridge continues to exist and is not replaced by a modern variant.
Her love for the nineteenth century is immense</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/44._Weesperzijde_winters_uitzicht.jpeg"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/renée_1.png"
                    alt=""></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/amsterdam/renée_2.png"
                    alt=""></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="big-h1">Landscapes and village scenes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">Renée goes out every now and then to visit other cities and landscapes in the
Netherlands. In the open air she mainly paints watercolours. She is fond of the colours
and light of the Dutch landscape, which she tries to capture in a rich colour palette.</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/landscapes/45._Schoorl,_tuin_van_“de_Boshut”.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/landscapes/47._Kranen_aan_het_kanaal.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/landscapes/48._Aan_de_kade.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/landscapes/49._Boerenhuisje_met_kruiwagen.jpeg"
                    alt=""></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">She adores Durgerdam and Marken and has a fascination for the traditional costumes
from those villages. She also visits abroad. France and Italy are very dear to her and were
a source of inspiration. However, due to a lack of financial resources, she does not
manage to go there often, at least not as often as she would have liked.</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/landscapes/50._Zicht_op_Durgerdam.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/landscapes/51._Pier_bij_Ameland.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/landscapes/53._Aquarel_Ameland.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/landscapes/54._Mediterraans_Balkon.jpeg"
                    alt=""></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="big-h1">Still lives</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ft-20 text-justify">Renée makes countless still lives from objects in her own home such as vases, fans and
hats. She often places these objects on a wooden table. One such table is the one that she
received from acquaintances from Schoorl. Flowers are her favourite subject. She paints
and draws flowers of all shapes and sizes with different materials. This subject will continue
to play a major role in her oeuvre until the end of her life.</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-1 bg-transparent"></div>
            <div class="col-md-2 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/still_lives/55._Gele_bloemen_met_fruit.jpeg"
                    alt=""></div>
            <div class="col-md-2 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/still_lives/56._Bloesem_met_bakje.jpeg"
                    alt=""></div>
            <div class="col-md-2 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/still_lives/57-1._Stilleven_met_hoed_en_doek.jpeg"
                    alt=""></div>
            <div class="col-md-2 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/still_lives/59._Stilleven_met_doeken_en_fruit.jpeg"
                    alt=""></div>
            <div class="col-md-2 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/still_lives/61._Schilders_stilleven.jpeg"
                    alt=""></div>
            <div class="col-md-1 bg-transparent"></div>
        </div>

        <div class="row">
            <div class="col-md-12"><br>
                <p class="ft-20 text-justify">Remarkable are Renée's often dynamic compositions and rich use of colour. There always
seems to be movement in the works. Her still lives are anything but static.</p><br>
            </div>
        </div>

        <div class="row with-full-size grid">
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/still_lives/62._Stilleven_met_theepot_en_hoed.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/still_lives/64._Stilleven_met_pauwenveren.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/still_lives/65._Stilleven_met_onbekende_voorwerpen.jpeg"
                    alt=""></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center"><img
                    src="/static/images/extracted/still_lives/66._Twee_vissen_op_een_krant.jpeg"
                    alt=""></div>
        </div>



    </div>

</div>

</body>
{% endblock %}

{% block script_footer %}
<script>
    $(document).ready(function () {

        $('.with-full-size').find('img').on('click', function () {
            $('.img-full-width').removeClass('hidden');
            $('.img-full-width').find('img').attr('src', $(this).attr('src'))
            let splitted_path = $(this).attr('src').replaceAll("_", " ").split("/");
            $('.img-full-width').find('.caption').html(splitted_path[splitted_path.length - 1].split(".png")[0])
        })
        $('.close-full-width-image').on('click', function () {
            $(this).parent().addClass('hidden')
        })

        const scroller = new LocomotiveScroll({
            el: document.querySelector('[data-scroll-container]'),
            smooth: true
        })

        gsap.registerPlugin(ScrollTrigger)


        scroller.on('scroll', ScrollTrigger.update)

        ScrollTrigger.scrollerProxy(
            '.about-container', {
                scrollTop(value) {
                    return arguments.length ?
                        scroller.scrollTo(value, 0, 0) :
                        scroller.scroll.instance.scroll.y
                },
                getBoundingClientRect() {
                    return {
                        left: 0, top: 0,
                        width: window.innerWidth,
                        height: window.innerHeight
                    }
                }
            }
        )


        ScrollTrigger.create({
            trigger: '.image-mask',
            scroller: '.about-container',
            start: 'top+=30% 50%',
            end: 'bottom-=40% 50%',
            animation: gsap.to('.image-mask', {backgroundSize: '120%'}),
            scrub: 2,
            // markers: true
        })


        ScrollTrigger.addEventListener('refresh', () => scroller.update())


        ScrollTrigger.refresh()
    })
</script>
{% endblock %}