{% extends 'base.html' %}

{% block css_header %}
<link rel="stylesheet" href="https://use.typekit.net/rmd7deq.css">
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/grid.css">
<link rel="stylesheet" href="../static/css/jquery.magnify.min.css">
{% endblock %}
{% block script_header %}
<script src="/static/js/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script src="../static/js/locomotiveJsIndex.js"></script>
{% endblock %}

{% block content %}
<body class="demo-3">
<div class="img-full-width hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x close-full-width-image"
         viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
    <img src="/static/images/renata/121495992_856165791788188_6599592335180247370_n.jpg" alt="">
    <p class="caption">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
</div>
<main id="main" data-scroll-container="" data-scroll-section-inview=""
      style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -192, 0, 1); opacity: 1; pointer-events: all;">

    <section>
        <div class="row">
            <div class="col-md-12 text-right">
                <ul class="lang-drop">
                    <li><a href="/language/nl"> <img src="/static/images/flags/nl.svg" alt="nl" class="flag"></a></li>
                    <li><a href="/language/en"> <img src="/static/images/flags/en.svg" alt="en" class="flag"></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="tiles tiles--perspective tiles--darker">
        <div class="tiles__wrap">
            <div class="tiles__line is-inview" data-scroll="" data-scroll-speed="2" data-scroll-direction="horizontal"
                 style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -32.4179, 0, 0, 1);">
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
            </div>
            <div class="tiles__line is-inview" data-scroll="" data-scroll-speed="-2" data-scroll-direction="horizontal"
                 style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 25.0709, 0, 0, 1);">
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
            </div>
            <div class="tiles__line is-inview" data-scroll="" data-scroll-speed="2" data-scroll-direction="horizontal"
                 style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -14.7465, 0, 0, 1);">
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
            </div>
            <div class="tiles__line is-inview" data-scroll="" data-scroll-speed="-2" data-scroll-direction="horizontal"
                 style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.53154, 0, 0, 1);">
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
            </div>
        </div>
        <h2 class="tiles__title tiles__title--intro is-inview" data-scroll="" data-scroll-speed="4"
            style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -31.2, 0, 1);"><a class="mx-auto"
                                                                                                href="#">
            <img width="100%" src="/static/images/sign_nobg.png" class="rounded-circle">
        </a></h2>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <ul class="main-ul-rene">
                    <li onclick="location.href='about'">{{_('About')}}</li>
                    <li onclick="location.href='news'">{{_('News')}}</li>
                    <li onclick="window.open('https://www.instagram.com/schilderij_renee_stotijn/')">
                        {{_('Instagram')}}
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <p class="content__text is-inview" data-scroll="" data-scroll-speed="2"
                   style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 33.2, 0, 1);">
                    {{_('FIRST_INTRO')}}</p>
                <img width="80%" src="static/images/renata/120194759_340353170520989_7329137475801138262_n.jpg" alt="">
            </div>
            <div class="col-md-6 text-center">
                <img src="static/images/renata/121495992_856165791788188_6599592335180247370_n.jpg"
                     style="width: 70%;" alt="">
                <img src="static/images/renata/68_Affiche_de_Typisten.jpeg" style="width: 410px; margin-top: 70px"
                     alt="">
            </div>
        </div>

    </section>
    <section class="tiles tiles--oneline" id="grid2">
        <div class="tiles__wrap">
            <div class="tiles__line is-inview" data-scroll="" data-scroll-speed="2" data-scroll-target="#grid2"
                 data-scroll-direction="horizontal"
                 style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 149.237, 0, 0, 1);">
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
            </div>
        </div>
        <p class="tiles__title tiles__title--left tiles__title--full tiles__title--alt" data-scroll=""
           data-scroll-speed="10"
           data-scroll-direction="horizontal"
           style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8074.12, 0, 0, 1);">
            {{_('FIRST_TITLE_HORIZONTAL_SCROLL')}}</p>
    </section>
    <section class="tiles tiles--oneline" id="grid3">
        <div class="tiles__wrap">
            <div class="tiles__line" data-scroll="" data-scroll-speed="-2" data-scroll-target="#grid3"
                 data-scroll-direction="horizontal"
                 style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -394.956, 0, 0, 1);">
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
            </div>
        </div>

        <p class="tiles__title tiles__title--full tiles__title--alt" data-scroll=""
           data-scroll-speed="2" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 394.956, 0, 1);">
            {{_('SECOND_TITLE_HORIZONTAL_SCROLL')}}</p>
    </section>
    <section class="tiles tiles--oneline" id="grid4">
        <div class="tiles__wrap">
            <div class="tiles__line" data-scroll="" data-scroll-speed="2" data-scroll-target="#grid4"
                 data-scroll-direction="horizontal"
                 style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 515.916, 0, 0, 1);">
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
                <div class="tiles__line-img"></div>
            </div>
        </div>
        <h2 class="tiles__title tiles__title--full tiles__title--alt" data-scroll=""
            data-scroll-speed="2" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 515.916, 0, 1);">
            {{_('THIRD_TITLE_HORIZONTAL_SCROLL')}}</h2>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <p class="content__text content__text--wide" data-scroll="" data-scroll-speed="1"
                   style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 318.038, 0, 1);">
                    {{_('SECOND_INTRO')}}</p>
            </div>
            <div class="col-md-6 text-center">
                <img width="70%" src="static/images/renata/109206913_3077524425694766_3066399280182564367_n.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <br>
                <hr>
                <br>
            </div>
        </div>

        <div class="row mix-imgs-rene-dick">
            <div class="col-md-3 text-center">
                <img width="100%" src="static/images/renata/118854470_365296781152724_1652691179958758565_n.jpg" alt="">
            </div>

            <div class="col-md-3 text-center">
                <img width="100%" src="static/images/renata/119601710_2752875208335249_4360704359128655186_n.jpg"
                     alt="">
            </div>

            <div class="col-md-3 text-center">
                <img width="100%" src="static/images/renata/104720526_199087664714159_7041134595956830066_n.jpg" alt="">
            </div>

            <div class="col-md-3 text-center">
                <img width="100%" src="static/images/renata/124926046_291278122081809_4377307909009890155_n.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <br>
                <hr>
                <br>
            </div>
        </div>

    </section>
    <section class="content content--feature">
        <p class="content__breakout content__breakout--big" data-scroll="" data-scroll-speed="20"
           data-scroll-direction="horizontal"
           style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 8074.12, 0, 0, 1);">
            {{_('FIRST_BIG_TITLE_HORIZONTAL_SCROLL')}}</p>
        <p class="content__breakout content__breakout--medium" data-scroll="" data-scroll-speed="10"
           data-scroll-direction="horizontal"
           style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2122.03, 0, 0, 1);">
            {{_('SECOND_BIG_TITLE_HORIZONTAL_SCROLL')}}</p>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6 text-center">
                <img width="70%" src="static/images/renata/104827249_268154084518342_7074067090816969707_n.jpg" alt="">
            </div>
            <div class="col-md-6 text-left">
                <p class="content__text content__text--right content__text--wide" data-scroll="" data-scroll-speed="1"
                   style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 463.856, 0, 1);">
                    {{_('THIRD_INTRO')}}</p>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col">
            <br>
            <hr>
            <br>
        </div>
    </div>

    <section class="tiles tiles--fixed hidden">
        <div class="tiles__wrap">
            <div class="tiles__line">
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1715.77, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="3" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1143.85, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="2" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 571.925, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="1" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -571.925, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="-1" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1143.85, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="-2" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1715.77, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="-3" data-scroll-direction="horizontal"></div>
            </div>
            <div class="tiles__line">
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1842.08, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="3" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1228.05, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="2" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 614.025, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="1" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -614.025, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="-1" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1228.05, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="-2" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1842.08, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="-3" data-scroll-direction="horizontal"></div>
            </div>
            <div class="tiles__line">
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1968.38, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="3" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1312.25, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="2" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 656.125, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="1" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -656.125, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="-1" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1312.25, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="-2" data-scroll-direction="horizontal"></div>
                <div class="tiles__line-img with-full-size"
                     style=" transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1968.38, 0, 0, 1);"
                     data-scroll="" data-scroll-speed="-3" data-scroll-direction="horizontal"></div>
            </div>
        </div>
    </section>

</main>
</body>

{% endblock %}

{% block script_footer %}
<script>
    $(document).ready(function () {
        $('.with-full-size').on('click', function () {
            $('.img-full-width').removeClass('hidden');
            $('.img-full-width').find('img').attr('src', $(this).attr('data-paint-location'))
        })
        $('.close-full-width-image').on('click', function() {
            $(this).parent().addClass('hidden')
        })
    })
</script>
{% endblock %}