<!--<div class="row">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark" data-scroll="" data-scroll-speed="2" data-scroll-direction="vertical">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto my-2 order-0 order-md-1 marginsH80 position-relative">
            <a class="mx-auto" href="#">
                <img width="100%" src="/static/images/sign_nobg.png" class="rounded-circle">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
-->