<section class="navbar-rene">
    <div class="row">
        <div class="col-md-12">
            <ul class="lang-drop float-left">
                <li><a href="/language/nl"> <img src="/static/images/flags/nl.svg" alt="nl" class="flag"></a></li>
                <li><a href="/language/en"> <img src="/static/images/flags/en.svg" alt="en" class="flag"></a></li>
            </ul>
            <ul class="lang-drop float-right">
                {% if url_for(request.endpoint) != '/' %}
                <li class="mr-15" style="border-right: 1px solid #898989; padding-right: 26px">
                    <a href="/">
                        Home
                    </a>
                </li>
                {% endif %}
                <li class="mr-15" style="border-right: 1px solid #898989; padding-right: 26px">
                    <a href="/contacts">
                        Contact
                    </a>
                </li>
                <li class="mr-15" style="border-right: 1px solid #898989; padding-right: 26px">
                    <a href="/about">
                        {{_('Life')}}
                    </a>
                </li>
                <li class="mr-15" style="border-right: 1px solid #898989; padding-right: 26px">
                    <a href="/news">
                        {{_('News')}}
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/schilderij_renee_stotijn/" target="_blank" class="float-right">
                        <img width="40px" src="/static/images/instagram.png" alt="Instagram Rene Stotijn">
                    </a>
                </li>
            </ul>

        </div>
    </div>
</section>