<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="language-menu">
        <li>
            <a href="https://www.instagram.com/schilderij_renee_stotijn/" target="_blank" class="float-right">
                <img width="40px" src="/static/images/instagram.png" alt="Instagram Rene Stotijn">
            </a>
        </li>
        <li><a href="/language/nl"> <img src="/static/images/flags/nl.svg" alt="nl" class="flag"></a></li>
        <li><a href="/language/en"> <img src="/static/images/flags/en.svg" alt="en" class="flag"></a></li>
    </ul>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 lang-drop float-right">
            {% if url_for(request.endpoint) != '/' %}
            <li class="">
                <a href="/">
                    Home
                </a>
            </li>
            {% endif %}
            <li class="">
                <a href="/about">
                    {{_('Life')}}
                </a>
            </li>
            <li class="">
                <a href="/news">
                    {{_('News')}}
                </a>
            </li>
            <li class="">
                <a href="/contacts">
                    Contact
                </a>
            </li>
            <li class="ig-button-container-desktop" style="border: none">
                <a href="https://www.instagram.com/schilderij_renee_stotijn/" target="_blank" class="float-right">
                    <img width="40px" src="/static/images/instagram.png" alt="Instagram Rene Stotijn">
                </a>
            </li>
        </ul>

    </div>
</nav>
