{% extends 'base.html' %}

{% block css_header %}
<link rel="stylesheet" href="https://use.typekit.net/rmd7deq.css">
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/news.css">
{% endblock %}

{% block content %}
<!--https://tympanus.net/codrops/2020/12/08/horizontal-smooth-scroll-layouts/-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <br><br>
            <h1>{{ _('Latest News and Events') }}</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5 news-big">

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 news-side">

        </div>

    </div>
</div>

{% endblock %}


renéestotijn.nl