{% extends 'base.html' %}

{% block css_header %}
<link rel="stylesheet" href="https://use.typekit.net/rmd7deq.css">
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/news.css">
{% endblock %}

{% block content %}

<div class="container-fluid container-news nomargin">

    <div class="row" style="padding-top: 0 !important">
        <div class="col-md-12 text-center nopadding podcast">

            <p>
                <span style="text-decoration: underline">{{_('Now online!')}}</span>
                <br>
                {{ _('Podcast about the discovery of the artworks of Renée Stotijn and the families Bor and Stotijn (Dutch)') }}
                <br>
                <img onclick="window.open('https://open.spotify.com/episode/1veZ9Ob5eCO7gCWOHBprdI?si=E2pH8QVUSfCaFX6ZnA79Wg&nd=1', '_blank')" class="scalable spotify-icon" src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" width="200px">
                <img onclick="window.open('https://soundcloud.com/kunstkast-pygmalion/zaphira-bor', '_blank')" class="scalable" src="/static/images/soundcloud.png" width="200px">
            </p>
            <img class="main-img" src="/static/images/news/podcast_{{ current_locale }}.jpg" height="500px" alt="">
        </div>
    </div>

    <div class="row" style="padding: 0 !important">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row" style="padding-top: 0 !important">
        <div class="col-md-12 text-center banner nopadding">
            <p class="">
                We are happy to announce a wonderful collaboration with <a target="_blank"
                                                                           href="https://artlaren.nl/galeries/babette-claassen-art-services/">Babette
                Claassen Art Services.</a>
                <br>
                The art of Renée Stotijn will be available at her gallery stand nr. 5 at the Art Laren Fair!
            </p>
            <img src="/static/images/news/banner.jpg" height="500px" alt="">
        </div>
    </div>

    <div class="row" style="padding: 0 !important">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center vimeo nopadding">
            <p>
                <a href="https://vimeo.com/820789742">Interview China - Art Ren&eacute;e Stotijn</a> from <a
                    href="https://vimeo.com/user199017870">kunst.stotijn@gmail.com
            </a> on <a href="https://vimeo.com">Vimeo</a>
            </p>
            <iframe src="https://player.vimeo.com/video/820789742?h=623e029448" width="100%" height="350px"
                    frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row" style="padding: 0 !important">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row nopadding">
        <div class="col-md-12 text-center nft-opensea ">
            <p>{{_('Artworks now available as NFT on')}} <a href="https://opensea.io/reneestotijn">opensea.io/reneestotijn</a>
            </p>
            <img class="scalable second"
                 onclick="window.location.href='https://opensea.io/reneestotijn'"
                 src="/static/images/news/nft.jpg" width="50%" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row nopadding">
        <div class="col-md-12 text-center dekring-expo">
            <p class="dekring-title">Te zien op Expositie</p>
            <img class="scalable first" style="margin-right: 70px"
                 onclick="window.location.href='https://www.kring.nl/'"
                 src="/static/documents/new/kring.png" width="10%" alt="">
            <img class="scalable second"
                 onclick="window.location.href='https://www.kring.nl/agenda/opening-expo-100-jaar-kringiconen-25-maart-22'"
                 src="/static/images/news/drkring_expo.jpeg" width="15%" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row nopadding">
        <div class="col-md-12 text-center articula">
            <p>{{_("New article about the discovery of
                Renée
                Stotijns art in Articula - magazine of Amsterdam
                artist association ‘Arti et Amicitiae’")}}</p>
            <br>
        </div>
    </div>
    <div class="row articula-container" style="padding-bottom: 0 !important">
        <div class="col-md-3 col-sm-3">
            <a href="static/documents/new2022/articula_0001.jpg"
               target="_blank"><img class="scalable" width="100%" src="static/documents/new2022/articula_0001.jpg"
                                    alt="Articula"></a>
        </div>
        <div class="col-md-4 col-sm-4">
            <a href="static/documents/new2022/articula_0002.jpg"
               target="_blank"><img class="scalable" width="140%" src="static/documents/new2022/articula_0002.jpg"
                                    alt="Articula"></a>
        </div>
        <div class="col-md-5 col-sm-5">
            <a href="static/documents/new2022/articula_0003.jpg"
               target="_blank"><img class="scalable" width="108%" src="static/documents/new2022/articula_0003.jpg"
                                    alt="Articula"></a>
        </div>

        <div class="col-md-12 nopadding">
            <hr>
        </div>

    </div>

    <div class="row nopadding">

        <div class="col-md-12 previous-expo" style="margin-bottom: 45px">
            <h1 class="text-center pointer"
                onclick="window.location.href='https://beursvanberlage.com/nl/tentoonstelling/renee-stotijn-verborgen-kunst-onthuld/'">
                {{_('Previous exhibition at Beurs van Berlage')}}</h1>
        </div>
        <div class="col-md-6 news-big text-right">
            <a href="https://beursvanberlage.com/nl/tentoonstelling/renee-stotijn-verborgen-kunst-onthuld/"
               target="_blank">
                <img class="scalable" src="static/documents/flyer_front.png" alt="Flyer Beurs">
            </a>
        </div>

        <div class="col-md-6 news-big text-left">
            <a href="https://beursvanberlage.com/nl/tentoonstelling/renee-stotijn-verborgen-kunst-onthuld/"
               target="_blank">
                <img class="scalable" src="static/documents/flyer_back.png" alt="Flyer Beurs">
            </a>
        </div>

        <!--<div class="col-md-6 news-side text-center">
            <a href="https://www.nrc.nl/nieuws/2021/03/19/tweeduizend-verborgen-schilderijen-a4036009"
               target="_blank"><img class="scalable" src="static/documents/nrc_preview.jpeg" alt="Nrc article"></a>
        </div>-->
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row nopadding linda-container">
        <div class="col-md-3 text-center">
            <p>Ons Amsterdam</p>
            <a target="_blank"
               href="https://onsamsterdam.nl/bijzondere-stadsgezichten-ontdekt-van-renee-stotijn?fbclid=IwAR2xYcFuUgCpL79aBQTk1pGQHTZItoe7RppQa8jnDK1PMKb6rxQUB0UBuag"><img
                    class="scalable" src="/static/documents/new/Ons_Amsterdam_frontpage1.jpeg" width="98%" alt=""></a>
        </div>
        <div class="col-md-6 text-center">
            <p class="scalable"
               onclick="window.location.href='https://www.linda.nl/nieuws/interview/dochters-renee-stotijn-kunstwerken-muren-verstopt-gevonden/'"
               style="cursor:pointer;">LINDA NL</p>
            <a href="{{url_for('lindapdf')}}"><img class="lindaimg scalable" src="/static/documents/new/linda.png"
                                                   width="45%" alt=""></a>
            <a href="{{url_for('lindapdf')}}"><img class="lindaimg scalable" src="/static/documents/new/linda2.png"
                                                   width="45%" alt=""></a>
        </div>
        <div class="col-md-3 text-center">
            <img src="/static/documents/new/zkrankt.png" class="zkrankt" width="28%" alt="">
            <a href="{{url_for('nrzpdf')}}"><img class="scalable" src="/static/documents/new/Voorpagina_1.jpeg"
                                                 width="98%" alt=""></a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row nopadding de-kring-container">
        <div class="col-md-12 text-center">
            <p class="dekring-title">De Kring</p>
            <img class="scalable"
                 onclick="window.location.href='https://www.kring.nl/nieuws/de-verborgen-schilderijen-van-kringlid-renee-stotijn-1940-2020 '"
                 src="/static/documents/new/kring.png" width="10%" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row nopadding at5-container">
        <div class="col-md-3 text-center"><img src="/static/documents/new/at5logo.png" width="70%" alt=""></div>
        <div class="col-md-6 text-center">
            <iframe class="scalable" width="100%" height="400" src="https://www.youtube.com/embed/OP3W26CfjgU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="col-md-3 text-center"><img src="/static/documents/new/at5logo.png" width="70%" alt=""></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row nopadding ons-amsterdam-container">
        <div class="col-md-12 text-center">
            <p class="dekring-title">Ons Amsterdam</p>
            <img class="scalable"
                 onclick="window.location.href='https://onsamsterdam.nl/bijzondere-stadsgezichten-ontdekt-van-renee-stotijn?fbclid=IwAR2xYcFuUgCpL79aBQTk1pGQHTZItoe7RppQa8jnDK1PMKb6rxQUB0UBuag'"
                 src="/static/documents/new/ons.png" width="10%" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row nopadding interview-container">
        <div class="col-md-12 text-center">
            <p class="dekring-title">{{_('Radio Interviews')}}</p>
        </div>
        <div class="col-md-6 text-center">
            <img class="scalable" src="/static/documents/new/interview1.png"
                 onclick="window.location.href='https://www.nporadio1.nl/fragmenten/spraakmakers/ba783ce6-5d88-498b-bc47-2f0e2564c648/2021-06-24-null'"
                 style="width: 133%;" alt="">
        </div>

        <div class="col-md-6 text-center">
            <img class="scalable" src="/static/documents/new/interview3.png"
                 onclick="window.location.href='https://www.nporadio4.nl/fragmenten/audio/2021-06-25-familie-vindt-verborgen-kunst-van-overleden-moeder'"
                 width="100%" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row nopadding">
        <div class="col-md-12 text-center">
            <img src="/static/documents/new/zkrankt.png" style="margin-bottom: 60px" width="10%" alt="">
        </div>
        <div class="col-md-6">
            <a href="{{url_for('nrzpdf')}}"><img src="/static/documents/new/Artikel_pagina1.jpg" class="scalable"
                                                 width="100%" alt=""></a>
        </div>
        <div class="col-md-6">
            <a href="{{url_for('nrzpdf')}}"><img src="/static/documents/new/Artikel_pagina2.jpg" class="scalable"
                                                 width="100%" alt=""></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row couple-images">
        <div class="col-md-6 text-center">
            <a href="https://www.parool.nl/ps/dochters-vinden-verstopte-werken-van-kunstenaar-renee-stotijn-de-wereld-moet-dit-zien~b2bda0eb/"
               target="_blank"><img class="scalable" src="static/documents/parool_preview.png" style="width: 50%"
                                    alt="Parool article"></a>
        </div>
        <div class="col-md-6 text-center">
            <a href="#"
               target="_blank"><img src="static/images/news/mater.jpg" style="width: 50%"
                                    alt="Mater article"></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row nopadding ">
        <div class="col-md-12 text-center">
            <a href="https://magazine.artland.com/unveiling-renee-stotijn-hidden-art/" target="_blank"><img
                    class="scalable" width="80%"
                    src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_2880,h_268/https://magazine.artland.com/wp-content/uploads/2017/01/Artland_logo_full_pos3-1-uai-2880x268.png"
                    alt=""></a>

        </div>
    </div>

    <div class="row nopadding pt50">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
</div>

<div class="row nopadding last-row">
    <div class="col-md-2">
        <svg class="logo " viewBox="0 0 214.9 84.4">
            <g>
                <path class="black"
                      d="M48.3,7h-18c0,0-0.5-0.1-0.7,0.4S0.3,83.2,0.1,83.7c-0.2,0.6,0.3,0.5,0.3,0.5h20.2 c0.7,0,0.8-0.6,0.8-0.6s3.8-10,3.9-10.5c0.2-0.5,0.7-0.4,0.7-0.4h26.4c0,0,0.5-0.1,0.8,0.5c0.2,0.6,3.8,10,4,10.5s0.8,0.5,0.8,0.5 h20c0,0,0.6,0,0.3-0.6C78.2,83,49.2,8,49,7.5C48.8,6.9,48.3,7,48.3,7 M39.5,28.4c1.4,3.8,9.1,26.4,9.2,26.9 c0.2,0.5-0.2,0.4-0.2,0.4h-19c0,0-0.3,0-0.2-0.3c0.1-0.4,8.2-23,9.6-26.9C39.2,28.1,39.4,28,39.5,28.4"></path>
            </g>
            <g>
                <ellipse class="white" cx="66.2" cy="11" rx="11" ry="10.9"></ellipse>
                <polygon class="red" points="55.8,12 58.1,12 57,9"></polygon>
                <path class="red"
                      d="M66.3,0.1c-4.6,0-8.4,2.7-10.2,6.5h1.7l3.3,8.7h-1.8l-0.6-1.7h-3c1.2,4.8,5.5,8.3,10.6,8.3 c6,0,10.9-4.9,10.9-10.9S72.3,0.1,66.3,0.1z M66.7,8.4h-2.5v7h-1.8v-7h-2.6V6.8h6.9V8.4z M70,15.6c-1.2-0.1-1.9-0.2-2.9-0.7 l0.7-1.4c0.6,0.4,1.4,0.6,2.1,0.6c1.2,0,1.7-0.6,1.7-1.3c0-0.9-0.6-1.5-2.1-1.5c-0.7,0-1.8,0-1.8,0V6.7H73v1.7h-3.6v1.3h0.2 c1.5,0,2.4,0.4,3,1.1c0.4,0.5,0.7,1.1,0.7,1.9C73.3,14.5,71.6,15.6,70,15.6z"></path>
            </g>
            <g>
                <path class="black"
                      d="M101.6,43.3c0,3.8,1.8,5.2,4.4,5.2c1.5,0,2.9-0.6,3.4-1l0.2,0.7c-0.8,0.5-1.9,1-3.7,1c-3,0-5.2-1.7-5.2-5.9 v-1.8c0-4.2,2.2-5.9,5.2-5.9c1.6,0,2.7,0.5,3.7,1l-0.2,0.7c-0.8-0.5-2.2-1-3.4-1c-2.6,0-4.4,1.4-4.4,5.2V43.3z"></path>
                <polygon class="black"
                         points="92,48.4 99.2,48.4 99.2,49.1 91.2,49.1 91.2,35.8 99.2,35.8 99.2,36.5 92,36.5 92,41.7 98.4,41.7 98.4,42.4 92,42.4"></polygon>
                <polygon class="black"
                         points="112.6,49.1 111.8,49.1 111.8,35.8 112.6,35.8 112.6,41.7 119.8,41.7 119.8,35.8 120.6,35.8 120.6,49.1 119.8,49.1 119.8,42.4 112.6,42.4"></polygon>
                <path class="black" d="M122.7,35.8h9.8v0.7H128v12.6h-0.8V36.5h-4.5V35.8z"></path>
                <path class="black"
                      d="M97.8,53.4H95l-5.1,13.2h2.8l1-2.6h5.4l1,2.7h2.8L97.8,53.4z M94.7,61.5l1.7-4.7l1.8,4.7H94.7z"></path>
                <polygon class="black"
                         points="104.5,53.4 107.1,53.4 110.8,59.1 114.4,53.4 117,53.4 117,66.7 114.3,66.7 114.3,58.3 110.8,63.8 107.3,58.3 107.3,66.7 104.6,66.7 104.6,53.4"></polygon>
                <path class="black"
                      d="M119.6,63.2c2.1,1.6,5.6,1.5,5.6-0.3c0-2.4-6.2-0.9-6.2-5.8c0-4.3,5.7-4.9,8.5-2.8l-0.8,2.5c-2-1.6-5-1.4-5,0.2 c0,2.6,6.2,1.1,6.2,5.7c0,4.8-6.2,5.1-9.2,3L119.6,63.2z"></path>
                <polygon class="black"
                         points="129.2,53.4 139.8,53.4 139.8,56 135.9,56 135.9,66.8 133.1,66.8 133.1,55.9 129.2,55.9 129.2,53.4 "></polygon>
                <polygon class="black"
                         points="144.3,64.1 151.1,64.1 151.1,66.7 141.6,66.7 141.6,53.4 151.1,53.4 151.1,56 144.3,56 144.3,58.5 150.3,58.5 150.3,61.1 144.3,61.1"></polygon>
                <path class="black"
                      d="M160.9,61.4c1.6-0.6,2.4-2,2.4-3.7c0-2.6-1.4-4.3-5.1-4.3H153v13.3h2.7v-4.8h2.4l3.1,4.8h3.2L160.9,61.4z M158.3,59.3h-2.5v-3.4h2.5c1.8,0,2.4,0.6,2.4,1.7C160.7,58.6,160.1,59.3,158.3,59.3z"></path>
                <path class="black"
                      d="M170.2,53.4H166v13.3h4.2c3.8,0,6.2-1.7,6.2-6.2v-0.9C176.4,55.2,174,53.4,170.2,53.4z M173.6,60.4 c0,2.8-1.1,3.7-3.4,3.7h-1.4v-8.2h1.4c2.2,0,3.4,0.9,3.4,3.7V60.4z"></path>
                <path class="black"
                      d="M184.7,53.3h-2.8l-5.1,13.3h2.8l1-2.6h5.4l1,2.6h2.8L184.7,53.3z M181.6,61.5l1.7-4.7l1.8,4.7H181.6z"></path>
                <polygon class="black"
                         points="191.4,53.4 194,53.4 197.7,59.1 201.3,53.4 203.9,53.4 203.9,66.7 201.2,66.7 201.2,58.3 197.7,63.8 194.2,58.3 194.2,66.7 191.5,66.7 191.5,53.4"></polygon>
                <path class="black"
                      d="M206.5,63.2c2.1,1.6,5.6,1.5,5.6-0.3c0-2.4-6.2-0.9-6.2-5.8c0-4.3,5.7-4.9,8.5-2.8l-0.8,2.5 c-2-1.6-5-1.4-5,0.2c0,2.6,6.2,1.1,6.2,5.7c0,4.8-6.2,5.1-9.2,3L206.5,63.2z"></path>
                <polygon class="black"
                         points="91.2,70.9 92.1,70.9 99.2,82.9 99.2,70.9 100,70.9 100,84.2 99.1,84.2 92,72.2 92,84.2 91.2,84.2 "></polygon>
                <rect x="102.9" y="70.9" class="black" width="0.8" height="13.3"></rect>
                <polygon class="black"
                         points="107.4,83.5 114.6,83.5 114.6,84.2 106.6,84.2 106.6,70.9 114.6,70.9 114.6,71.6 107.4,71.6 107.4,76.8 113.8,76.8 113.8,77.5 107.4,77.5"></polygon>
                <path class="black"
                      d="M116.7,70.9h0.8v7.5c0,3.9,1.5,5.2,3.8,5.2s3.8-1.4,3.8-5.2v-7.5h0.8v7.5c0,4.3-1.9,5.9-4.6,5.9 s-4.6-1.7-4.6-5.9L116.7,70.9L116.7,70.9z"></path>
                <polygon class="black"
                         points="140.3,82.9 143.9,70.9 144.7,70.9 140.7,84.2 139.9,84.2 136.3,72.2 132.7,84.2 131.9,84.2 127.9,70.9 128.7,70.9 132.3,82.9 135.9,70.9 136.7,70.9"></polygon>
                <path class="black"
                      d="M146.3,82.7c2.3,1.6,7.3,1.4,7.3-1.8c0-3.7-7.3-2.1-7.3-6.8c0-4.1,5.5-3.9,7.7-2.4l-0.2,0.7 c-1.9-1.5-6.7-1.6-6.7,1.6c0,4,7.3,2.3,7.3,6.8c0,4-5.9,4.2-8.3,2.5L146.3,82.7z"></path>
            </g>
        </svg>
    </div>
    <div class="col-md-8 text-center">
        <iframe class="scalable" width="100%" height="400" src="https://www.youtube.com/embed/wKoDilqO0l8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
    <div class="col-md-2">
        <svg class="logo " viewBox="0 0 214.9 84.4">
            <g>
                <path class="black"
                      d="M48.3,7h-18c0,0-0.5-0.1-0.7,0.4S0.3,83.2,0.1,83.7c-0.2,0.6,0.3,0.5,0.3,0.5h20.2 c0.7,0,0.8-0.6,0.8-0.6s3.8-10,3.9-10.5c0.2-0.5,0.7-0.4,0.7-0.4h26.4c0,0,0.5-0.1,0.8,0.5c0.2,0.6,3.8,10,4,10.5s0.8,0.5,0.8,0.5 h20c0,0,0.6,0,0.3-0.6C78.2,83,49.2,8,49,7.5C48.8,6.9,48.3,7,48.3,7 M39.5,28.4c1.4,3.8,9.1,26.4,9.2,26.9 c0.2,0.5-0.2,0.4-0.2,0.4h-19c0,0-0.3,0-0.2-0.3c0.1-0.4,8.2-23,9.6-26.9C39.2,28.1,39.4,28,39.5,28.4"></path>
            </g>
            <g>
                <ellipse class="white" cx="66.2" cy="11" rx="11" ry="10.9"></ellipse>
                <polygon class="red" points="55.8,12 58.1,12 57,9"></polygon>
                <path class="red"
                      d="M66.3,0.1c-4.6,0-8.4,2.7-10.2,6.5h1.7l3.3,8.7h-1.8l-0.6-1.7h-3c1.2,4.8,5.5,8.3,10.6,8.3 c6,0,10.9-4.9,10.9-10.9S72.3,0.1,66.3,0.1z M66.7,8.4h-2.5v7h-1.8v-7h-2.6V6.8h6.9V8.4z M70,15.6c-1.2-0.1-1.9-0.2-2.9-0.7 l0.7-1.4c0.6,0.4,1.4,0.6,2.1,0.6c1.2,0,1.7-0.6,1.7-1.3c0-0.9-0.6-1.5-2.1-1.5c-0.7,0-1.8,0-1.8,0V6.7H73v1.7h-3.6v1.3h0.2 c1.5,0,2.4,0.4,3,1.1c0.4,0.5,0.7,1.1,0.7,1.9C73.3,14.5,71.6,15.6,70,15.6z"></path>
            </g>
            <g>
                <path class="black"
                      d="M101.6,43.3c0,3.8,1.8,5.2,4.4,5.2c1.5,0,2.9-0.6,3.4-1l0.2,0.7c-0.8,0.5-1.9,1-3.7,1c-3,0-5.2-1.7-5.2-5.9 v-1.8c0-4.2,2.2-5.9,5.2-5.9c1.6,0,2.7,0.5,3.7,1l-0.2,0.7c-0.8-0.5-2.2-1-3.4-1c-2.6,0-4.4,1.4-4.4,5.2V43.3z"></path>
                <polygon class="black"
                         points="92,48.4 99.2,48.4 99.2,49.1 91.2,49.1 91.2,35.8 99.2,35.8 99.2,36.5 92,36.5 92,41.7 98.4,41.7 98.4,42.4 92,42.4"></polygon>
                <polygon class="black"
                         points="112.6,49.1 111.8,49.1 111.8,35.8 112.6,35.8 112.6,41.7 119.8,41.7 119.8,35.8 120.6,35.8 120.6,49.1 119.8,49.1 119.8,42.4 112.6,42.4"></polygon>
                <path class="black" d="M122.7,35.8h9.8v0.7H128v12.6h-0.8V36.5h-4.5V35.8z"></path>
                <path class="black"
                      d="M97.8,53.4H95l-5.1,13.2h2.8l1-2.6h5.4l1,2.7h2.8L97.8,53.4z M94.7,61.5l1.7-4.7l1.8,4.7H94.7z"></path>
                <polygon class="black"
                         points="104.5,53.4 107.1,53.4 110.8,59.1 114.4,53.4 117,53.4 117,66.7 114.3,66.7 114.3,58.3 110.8,63.8 107.3,58.3 107.3,66.7 104.6,66.7 104.6,53.4"></polygon>
                <path class="black"
                      d="M119.6,63.2c2.1,1.6,5.6,1.5,5.6-0.3c0-2.4-6.2-0.9-6.2-5.8c0-4.3,5.7-4.9,8.5-2.8l-0.8,2.5c-2-1.6-5-1.4-5,0.2 c0,2.6,6.2,1.1,6.2,5.7c0,4.8-6.2,5.1-9.2,3L119.6,63.2z"></path>
                <polygon class="black"
                         points="129.2,53.4 139.8,53.4 139.8,56 135.9,56 135.9,66.8 133.1,66.8 133.1,55.9 129.2,55.9 129.2,53.4 "></polygon>
                <polygon class="black"
                         points="144.3,64.1 151.1,64.1 151.1,66.7 141.6,66.7 141.6,53.4 151.1,53.4 151.1,56 144.3,56 144.3,58.5 150.3,58.5 150.3,61.1 144.3,61.1"></polygon>
                <path class="black"
                      d="M160.9,61.4c1.6-0.6,2.4-2,2.4-3.7c0-2.6-1.4-4.3-5.1-4.3H153v13.3h2.7v-4.8h2.4l3.1,4.8h3.2L160.9,61.4z M158.3,59.3h-2.5v-3.4h2.5c1.8,0,2.4,0.6,2.4,1.7C160.7,58.6,160.1,59.3,158.3,59.3z"></path>
                <path class="black"
                      d="M170.2,53.4H166v13.3h4.2c3.8,0,6.2-1.7,6.2-6.2v-0.9C176.4,55.2,174,53.4,170.2,53.4z M173.6,60.4 c0,2.8-1.1,3.7-3.4,3.7h-1.4v-8.2h1.4c2.2,0,3.4,0.9,3.4,3.7V60.4z"></path>
                <path class="black"
                      d="M184.7,53.3h-2.8l-5.1,13.3h2.8l1-2.6h5.4l1,2.6h2.8L184.7,53.3z M181.6,61.5l1.7-4.7l1.8,4.7H181.6z"></path>
                <polygon class="black"
                         points="191.4,53.4 194,53.4 197.7,59.1 201.3,53.4 203.9,53.4 203.9,66.7 201.2,66.7 201.2,58.3 197.7,63.8 194.2,58.3 194.2,66.7 191.5,66.7 191.5,53.4"></polygon>
                <path class="black"
                      d="M206.5,63.2c2.1,1.6,5.6,1.5,5.6-0.3c0-2.4-6.2-0.9-6.2-5.8c0-4.3,5.7-4.9,8.5-2.8l-0.8,2.5 c-2-1.6-5-1.4-5,0.2c0,2.6,6.2,1.1,6.2,5.7c0,4.8-6.2,5.1-9.2,3L206.5,63.2z"></path>
                <polygon class="black"
                         points="91.2,70.9 92.1,70.9 99.2,82.9 99.2,70.9 100,70.9 100,84.2 99.1,84.2 92,72.2 92,84.2 91.2,84.2 "></polygon>
                <rect x="102.9" y="70.9" class="black" width="0.8" height="13.3"></rect>
                <polygon class="black"
                         points="107.4,83.5 114.6,83.5 114.6,84.2 106.6,84.2 106.6,70.9 114.6,70.9 114.6,71.6 107.4,71.6 107.4,76.8 113.8,76.8 113.8,77.5 107.4,77.5"></polygon>
                <path class="black"
                      d="M116.7,70.9h0.8v7.5c0,3.9,1.5,5.2,3.8,5.2s3.8-1.4,3.8-5.2v-7.5h0.8v7.5c0,4.3-1.9,5.9-4.6,5.9 s-4.6-1.7-4.6-5.9L116.7,70.9L116.7,70.9z"></path>
                <polygon class="black"
                         points="140.3,82.9 143.9,70.9 144.7,70.9 140.7,84.2 139.9,84.2 136.3,72.2 132.7,84.2 131.9,84.2 127.9,70.9 128.7,70.9 132.3,82.9 135.9,70.9 136.7,70.9"></polygon>
                <path class="black"
                      d="M146.3,82.7c2.3,1.6,7.3,1.4,7.3-1.8c0-3.7-7.3-2.1-7.3-6.8c0-4.1,5.5-3.9,7.7-2.4l-0.2,0.7 c-1.9-1.5-6.7-1.6-6.7,1.6c0,4,7.3,2.3,7.3,6.8c0,4-5.9,4.2-8.3,2.5L146.3,82.7z"></path>
            </g>
        </svg>

    </div>


</div>

</div>

{% endblock %}

{% block script_footer %}
<script>
    $(document).ready(function () {

    })
</script>
{% endblock %}