{% extends 'base.html' %}

{% block css_header %}
<link rel="stylesheet" href="https://use.typekit.net/rmd7deq.css">
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/nft.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
{% endblock %}

{% block content %}
    <div class="container-fluid mt120 collection-container">
        <div class="row">
            <div class="col text-center">
                <p>{{_('Discover the NFT collection of Renée Stotijn on ')}} <a href="https://opensea.io/">Opensea.io</a><br>
                    <small>{{_("You will be able to purchase Renée's art and claim the real paintings and drawings.")}}</small>
                </p>
                <p><small>click below to view the treasure</small> <br> <i class="fas fa-arrow-down bounce"></i><i class="fas fa-arrow-down bounce"></i><i class="fas fa-arrow-down bounce"></i></p>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12 scalable" onclick="window.open('https://opensea.io/collection/renees-drawings', '_blank')">
                <div class="frame-collection drawings">
                    <img src="/static/images/empty.png" alt="">
                    <h3>Drawings - charcoal</h3>
                </div>

            </div>
            <div class="col-lg-4 col-xs-12 scalable" onclick="window.open('https://opensea.io/collection/renees-still-lives', '_blank')">
                <div class="frame-collection stillives">
                    <img src="/static/images/empty.png" alt="">
                    <h3>Still lives</h3>
                </div>

            </div>
            <div class="col-lg-4 col-xs-12 scalable" onclick="window.open('https://opensea.io/collection/renees-dolls', '_blank')">
                <div class="frame-collection dolls">
                    <img src="/static/images/empty.png" alt="">
                    <h3>Dolls</h3>
                </div>

            </div>
        </div>
        <div class="row second">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-xs-12 scalable" onclick="window.open('https://opensea.io/collection/renees-painted-portraits', '_blank')">
                <div class="frame-collection portraits">
                    <img src="/static/images/empty.png" alt="">
                    <h3>Painted portraits</h3>
                </div>

            </div>
            <div class="col-lg-4 col-xs-12 scalable" onclick="window.open('https://opensea.io/collection/renees-landscapes', '_blank')">
                <div class="frame-collection landscapes">
                    <img src="/static/images/empty.png" alt="">
                    <h3>Landscapes</h3>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
{% endblock %}

{% block script_footer %}
<script>
    $(document).ready(function () {

    })
</script>
{% endblock %}