{% extends 'base.html' %}

{% block css_header %}
<link rel="stylesheet" href="https://use.typekit.net/rmd7deq.css">
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/sell_paints.css">
{% endblock %}

{% block content %}
<div class="container-fluid mt120 collection-container">
    <div class="row">
        <div class="col mt20">
            <h1 class="text-center">For sale</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="grid-container">
                <div class="grid-item">
                    <a href="#"><img src="/static/images/for_sale/Stotijn-stilleven.png" alt=""></a>
                    <p class="nomargin">Zomerse bloei</p>
                    <p class="nomargin">(44cm X 35cm)</p>
                    <br>
                    <p class="nomargin">€ 850</p>
                </div>
                <div class="grid-item">
                    <a href="#"><img src="/static/images/for_sale/Bartholomeuskerk.png" alt=""></a>
                    <p>Zicht op Sint-Bartholomeüskerk (Schoonhoven)</p>
                </div>
                <div class="grid-item">
                    <a href="#"><img src="/static/images/for_sale/AJ-Zwart-Bij-de-Boerderij-zonnebloemen.jpg" alt=""></a>
                </div>
                <div class="grid-item">
                    <a href="#"><img src="/static/images/for_sale/Foto-kunstwerk-Evert-Pieters-Vind.png" alt=""></a>
                </div>
                <div class="grid-item">
                    <a href="#"><img src="/static/images/for_sale/IMG_0067-2-scaled.jpg" alt=""></a>
                </div>
                <div class="grid-item">
                    <a href="#"><img src="/static/images/for_sale/IMG_1710-min.jpg" alt=""></a>
                </div>
                <div class="grid-item">
                    <a href="#"><img src="/static/images/for_sale/IMG_6506-1-scaled.jpeg" alt=""></a>
                </div>
                <div class="grid-item">
                    <a href="#"><img src="/static/images/for_sale/Renee-Stotijn-hoed-aquarel.png" alt=""></a>
                </div>
                <div class="grid-item">
                    <a href="#"><img src="/static/images/for_sale/Sande-Bakhuyzen-2-scaled.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_footer %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const gridItems = document.querySelectorAll('.grid-item');

        gridItems.forEach(item => {
            const img = item.querySelector('img');
            img.onload = function() {
                if (img.naturalWidth > img.naturalHeight) {
                    item.classList.add('landscape');
                } else {
                    item.classList.add('portrait');
                }
            };
        });
    });
</script>
{% endblock %}