{% extends 'base.html' %}

{% block css_header %}
<link rel="stylesheet" href="https://use.typekit.net/rmd7deq.css">
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/sell_paints.css">
{% endblock %}

{% block content %}

<div id="overlay" class="hidden">
    <span id="close-overlay" class="close">&times;</span>
    <img class="overlay-content" id="overlay-img">
</div>

<div class="container-fluid mt120 collection-container">
    <div class="row">
        <div class="col mt20">
            <h1 class="text-center ft60">For sale</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="grid-container">
                {% for paint in paints %}
                <div class="grid-item {% if paint.sold %}sold{% endif %}">
                    {% if paint.link %}
                    <a target="_blank" href="{{ paint.link }}"><img src="{{ paint['image-link'] }}" alt=""></a>
                    {% else %}
                    <img src="{{ paint['image-link'] }}" alt="">
                    {% endif %}
                    <p class="nomargin">{{ paint.title }}</p>
                    <p class="nomargin">{{ paint.dimensions }}</p>
                    <br>
                    <p class="nomargin">{{ paint.price }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_footer %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const gridItems = document.querySelectorAll('.grid-item');

        gridItems.forEach(item => {
            const img = item.querySelector('img');
            const setClass = function() {
                if (img.naturalWidth > img.naturalHeight) {
                    item.classList.add('landscape');
                } else {
                    item.classList.add('portrait');
                }
            };

            if (img.complete) {
                setClass();
            } else {
                img.onload = setClass;
            }
        });
    });
</script>
{% endblock %}