{% extends 'base.html' %}

{% block css_header %}
<link rel="stylesheet" href="https://use.typekit.net/rmd7deq.css">
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/sell_paints.css">
{% endblock %}

{% block content %}
<div class="container-fluid mt120 collection-container">
    <div class="row">
        <div class="col mt20">
            <h1 class="text-center">For sale</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="grid-container">
                {% for paint in paints %}
                <div class="grid-item {% if paint.sold %}sold{% endif %}">
                    <a href="#"><img src="{{ paint.link }}" alt=""></a>
                    <p class="nomargin">{{ paint.title }}</p>
                    <p class="nomargin">{{ paint.dimensions }}</p>
                    <br>
                    <p class="nomargin">{{ paint.price }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_footer %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const gridItems = document.querySelectorAll('.grid-item');

        gridItems.forEach(item => {
            const img = item.querySelector('img');
            img.onload = function() {
                if (img.naturalWidth > img.naturalHeight) {
                    item.classList.add('landscape');
                } else {
                    item.classList.add('portrait');
                }
            };
        });
    });
</script>
{% endblock %}